<h1>new vote</h1>

<%= form_tag votes_path do%>

  Name :<input type = "text" name="name"> <br>
  choice1 :<input type = "text" name="choice1"> <br>
  choice2 :<input type = "text" name="choice2"> <br>
  choice3 :<input type = "text" name="choice3"> <br>
  <input type="submit" value="submit">
  <% end %>
