

<h1>Vote</h1>

<%= form_tag(poll_vote_path(@poll_id), method: :put)  do %>
  <%= render partial: "/candidates/candidate", locals: {candidate: @candidate} %>
  <%= submit_tag 'Mark as Complete' %>
<% end %>

