

<h1>Vote</h1>
<%= form_tag(polls_path, method: :put)  do %>
  <% @candidates.each do |candidate| %>
    <ul>
      <li>
        <%= check_box_tag 'candidate_id',candidate.id %>
        <%= candidate.name %>
      </li>
    </ul>
  <% end %>
  <%= submit_tag 'Mark as Complete' %>
<% end %>
